.flex {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.hmMenu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.productName {
  color: var(--Dark);
  font-family: Oswald;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 32px */
  text-transform: uppercase;
}
