.model {
  width: 100%;
  height: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product {
  width: inherit;
  height: inherit;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}